In [140]:
import pandas as pd
import numpy as np

''' Under adaptation '''

standard_coord = pd.read_csv("/Users/aymericvie/Documents/GitHub/evology/evology/research/TransferStatus/GainMatrixSingle/data/neutral_combined/static_standard.csv")
NT_bump_coord = pd.read_csv("/Users/aymericvie/Documents/GitHub/evology/evology/research/TransferStatus/GainMatrixSingle/data/neutral_combined/static_NT_bump.csv")
VI_bump_coord = pd.read_csv("/Users/aymericvie/Documents/GitHub/evology/evology/research/TransferStatus/GainMatrixSingle/data/neutral_combined/static_VI_bump.csv")
TF_bump_coord = pd.read_csv("/Users/aymericvie/Documents/GitHub/evology/evology/research/TransferStatus/GainMatrixSingle/data/neutral_combined/static_TF_bump.csv")


''' Under static '''

standard_coord = pd.read_csv("/Users/aymericvie/Documents/GitHub/evology/evology/research/TransferStatus/GainMatrixSingle/data/neutral_static/static_standard.csv")
NT_bump_coord = pd.read_csv("/Users/aymericvie/Documents/GitHub/evology/evology/research/TransferStatus/GainMatrixSingle/data/neutral_static/static_NT_bump.csv")
VI_bump_coord = pd.read_csv("/Users/aymericvie/Documents/GitHub/evology/evology/research/TransferStatus/GainMatrixSingle/data/neutral_static/static_VI_bump.csv")
TF_bump_coord = pd.read_csv("/Users/aymericvie/Documents/GitHub/evology/evology/research/TransferStatus/GainMatrixSingle/data/neutral_static/static_TF_bump.csv")

In [141]:
''' Gain matrix estimation without outliers '''
np.set_printoptions(suppress=True)
margin = 3

standard_coord = pd.read_csv("/Users/aymericvie/Documents/GitHub/evology/evology/research/TransferStatus/GainMatrixSingle/data/static_standard.csv")

clean_standard_coord = pd.DataFrame()

new_standard_coord = pd.DataFrame()
new_standard_coord = standard_coord[np.abs(standard_coord['NT_MonReturns']-standard_coord['NT_MonReturns'].mean()) <= (margin*standard_coord['NT_MonReturns'].std())]
standard_coord_NT_Return = new_standard_coord['NT_MonReturns'].mean()
clean_standard_coord['NT_MonReturns'] = 100 * new_standard_coord['NT_MonReturns']

new_standard_coord = pd.DataFrame()
new_standard_coord = standard_coord[np.abs(standard_coord['VI_MonReturns']-standard_coord['VI_MonReturns'].mean()) <= (margin*standard_coord['VI_MonReturns'].std())]
standard_coord_VI_Return = new_standard_coord['VI_MonReturns'].mean()
clean_standard_coord['VI_MonReturns'] = 100 * new_standard_coord['VI_MonReturns']

new_standard_coord = pd.DataFrame()
new_standard_coord = standard_coord[np.abs(standard_coord['TF_MonReturns']-standard_coord['TF_MonReturns'].mean()) <= (margin*standard_coord['TF_MonReturns'].std())]
standard_coord_TF_Return = new_standard_coord['TF_MonReturns'].mean()
clean_standard_coord['TF_MonReturns'] = 100 * new_standard_coord['TF_MonReturns']

print(standard_coord_NT_Return, standard_coord_VI_Return, standard_coord_TF_Return)

clean_NT_bump_coord = pd.DataFrame()

new_NT_bump_coord = pd.DataFrame()
new_NT_bump_coord = NT_bump_coord[np.abs(NT_bump_coord['NT_MonReturns']-NT_bump_coord['NT_MonReturns'].mean()) <= (margin*NT_bump_coord['NT_MonReturns'].std())]
NT_bump_NT_Return = new_NT_bump_coord['NT_MonReturns'].mean()
clean_NT_bump_coord['NT_MonReturns'] = 100 * new_NT_bump_coord['NT_MonReturns']

new_NT_bump_coord = pd.DataFrame()
new_NT_bump_coord = NT_bump_coord[np.abs(NT_bump_coord['VI_MonReturns']-NT_bump_coord['VI_MonReturns'].mean()) <= (margin*NT_bump_coord['VI_MonReturns'].std())]
NT_bump_VI_Return = new_NT_bump_coord['VI_MonReturns'].mean()
clean_NT_bump_coord['VI_MonReturns'] = 100 * new_NT_bump_coord['VI_MonReturns']

new_NT_bump_coord = pd.DataFrame()
new_NT_bump_coord = NT_bump_coord[np.abs(NT_bump_coord['TF_MonReturns']-NT_bump_coord['TF_MonReturns'].mean()) <= (margin*NT_bump_coord['TF_MonReturns'].std())]
NT_bump_TF_Return = new_NT_bump_coord['TF_MonReturns'].mean()
clean_NT_bump_coord['TF_MonReturns'] = 100 * new_NT_bump_coord['TF_MonReturns']

print(NT_bump_NT_Return, NT_bump_VI_Return, NT_bump_TF_Return)


clean_VI_bump_coord = pd.DataFrame()

new_VI_bump_coord = pd.DataFrame()
new_VI_bump_coord = VI_bump_coord[np.abs(VI_bump_coord['NT_MonReturns']-VI_bump_coord['NT_MonReturns'].mean()) <= (margin*VI_bump_coord['NT_MonReturns'].std())]
VI_bump_NT_Return = new_VI_bump_coord['NT_MonReturns'].mean()
clean_VI_bump_coord['NT_MonReturns'] = 100 * new_VI_bump_coord['NT_MonReturns']

new_VI_bump_coord = pd.DataFrame()
new_VI_bump_coord = VI_bump_coord[np.abs(VI_bump_coord['VI_MonReturns']-VI_bump_coord['VI_MonReturns'].mean()) <= (margin*VI_bump_coord['VI_MonReturns'].std())]
VI_bump_VI_Return = new_VI_bump_coord['VI_MonReturns'].mean()
clean_VI_bump_coord['VI_MonReturns'] = 100 * new_VI_bump_coord['VI_MonReturns']

new_VI_bump_coord = pd.DataFrame()
new_VI_bump_coord = VI_bump_coord[np.abs(VI_bump_coord['TF_MonReturns']-VI_bump_coord['TF_MonReturns'].mean()) <= (margin*VI_bump_coord['TF_MonReturns'].std())]
VI_bump_TF_Return = new_VI_bump_coord['TF_MonReturns'].mean()
clean_VI_bump_coord['TF_MonReturns'] = 100 * new_VI_bump_coord['TF_MonReturns']

print(VI_bump_NT_Return, VI_bump_VI_Return, VI_bump_TF_Return)


clean_TF_bump_coord = pd.DataFrame()
new_TF_bump_coord = pd.DataFrame()
new_TF_bump_coord = TF_bump_coord[np.abs(TF_bump_coord['NT_MonReturns']-TF_bump_coord['NT_MonReturns'].mean()) <= (margin*TF_bump_coord['NT_MonReturns'].std())]
TF_bump_NT_Return = new_TF_bump_coord['NT_MonReturns'].mean()
clean_TF_bump_coord['NT_MonReturns'] = 100 * new_TF_bump_coord['NT_MonReturns']


new_TF_bump_coord = pd.DataFrame()
new_TF_bump_coord = TF_bump_coord[np.abs(TF_bump_coord['VI_MonReturns']-TF_bump_coord['VI_MonReturns'].mean()) <= (margin*TF_bump_coord['VI_MonReturns'].std())]
TF_bump_VI_Return = new_TF_bump_coord['VI_MonReturns'].mean()
clean_TF_bump_coord['VI_MonReturns'] = 100 * new_TF_bump_coord['VI_MonReturns']

new_TF_bump_coord = pd.DataFrame()
new_TF_bump_coord = VI_bump_coord[np.abs(TF_bump_coord['TF_MonReturns']-TF_bump_coord['TF_MonReturns'].mean()) <= (margin*TF_bump_coord['TF_MonReturns'].std())]
TF_bump_TF_Return = new_TF_bump_coord['TF_MonReturns'].mean()
clean_TF_bump_coord['TF_MonReturns'] = 100 * new_TF_bump_coord['TF_MonReturns']

print(TF_bump_NT_Return, TF_bump_VI_Return, TF_bump_TF_Return)

-0.0006441646019008233 0.0025706346424605414 0.0020781589679351115
0.0015867312022095664 0.001044008211264348 0.000860798337035501
0.001733274928870244 0.0010663876633823777 0.001020949284465576
0.0017388417021968097 0.001245372202794714 0.0010360291391857323

In [142]:
import statsmodels as stats 
import scipy 
import pingouin as pg

def write_signif(res):
    if res['p-val'][0] < 0.01:
        # signif = str.maketrans('***')
        signif = '^{***}'
    elif res['p-val'][0] < 0.05:
        # signif = str.maketrans('**')
        signif = '^{**}'
    elif res['p-val'][0] < 0.1:
        # signif = str.maketrans('*')
        signif = '^{*}'
    elif res['p-val'][0] >= 0.1:
        signif = ''
    return signif

''' 
Null hypothesis: means are equal 
Alternative hypothesis" means are different 

For p-value >= alpha: fail to reject null hypothesis
For p-value < alpha: reject H0 and accept HA
'''

print('--NT ROW--')

res = pg.ttest(1/h * (clean_NT_bump_coord['NT_MonReturns'] - clean_standard_coord['NT_MonReturns']), 0, correction=False, confidence=0.95)
display(res)
signif00 = write_signif(res)
ci00 = res['CI95%'][0]
print(1/h * (clean_NT_bump_coord['NT_MonReturns'] - clean_standard_coord['NT_MonReturns']).mean())


res = pg.ttest(1/h  * (clean_VI_bump_coord['NT_MonReturns'] - clean_standard_coord['NT_MonReturns']), 0, correction=False, confidence=0.95)
display(res)
signif01 = write_signif(res)
ci01 = res['CI95%'][0]
print(1/h * (clean_VI_bump_coord['NT_MonReturns'] - clean_standard_coord['NT_MonReturns']).mean())

res = pg.ttest(1/h * (clean_TF_bump_coord['NT_MonReturns'] - clean_standard_coord['NT_MonReturns']), 0, correction=False, confidence=0.95)
display(res)
signif02 = write_signif(res)
ci02 = res['CI95%'][0]
print(1/h * (clean_TF_bump_coord['NT_MonReturns'] - clean_standard_coord['NT_MonReturns']).mean())

print('--VI ROW--')

res = pg.ttest(1/h * (clean_NT_bump_coord['VI_MonReturns'] - clean_standard_coord['VI_MonReturns']), 0, correction=False, confidence=0.95)
display(res)
signif10 = write_signif(res)
ci10 = res['CI95%'][0]
print(1/h * (clean_NT_bump_coord['VI_MonReturns'] - clean_standard_coord['VI_MonReturns']).mean())


res = pg.ttest(1/h  * (clean_VI_bump_coord['VI_MonReturns'] - clean_standard_coord['VI_MonReturns']), 0, correction=False, confidence=0.95)
display(res)
signif11 = write_signif(res)
ci11 = res['CI95%'][0]
print(1/h * (clean_VI_bump_coord['VI_MonReturns'] - clean_standard_coord['VI_MonReturns']).mean())

res = pg.ttest(1/h * (clean_TF_bump_coord['VI_MonReturns'] - clean_standard_coord['VI_MonReturns']), 0, correction=False, confidence=0.95)
display(res)
signif12 = write_signif(res)
ci12 = res['CI95%'][0]
print(1/h * (clean_TF_bump_coord['VI_MonReturns'] - clean_standard_coord['VI_MonReturns']).mean())

print('--TF ROW--')

res = pg.ttest(1/h * (clean_NT_bump_coord['TF_MonReturns'] - clean_standard_coord['TF_MonReturns']), 0, correction=False, confidence=0.95)
display(res)
signif20 = write_signif(res)
ci20 = res['CI95%'][0]
print(1/h * (clean_NT_bump_coord['TF_MonReturns'] - clean_standard_coord['TF_MonReturns']).mean())


res = pg.ttest(1/h  * (clean_VI_bump_coord['TF_MonReturns'] - clean_standard_coord['TF_MonReturns']), 0, correction=False, confidence=0.95)
display(res)
signif21 = write_signif(res)
ci21 = res['CI95%'][0]
print(1/h * (clean_VI_bump_coord['TF_MonReturns'] - clean_standard_coord['TF_MonReturns']).mean())

res = pg.ttest(1/h * (clean_TF_bump_coord['TF_MonReturns'] - clean_standard_coord['TF_MonReturns']), 0, correction=False, confidence=0.95)
display(res)
signif22 = write_signif(res)
ci22 = res['CI95%'][0]
print(1/h * (clean_TF_bump_coord['TF_MonReturns'] - clean_standard_coord['TF_MonReturns']).mean())

--NT ROW--

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,29.371396,73371,two-sided,1.586457e-188,"[26.33, 30.1]",0.108432,7.044e+183,1.0

28.213441480783626

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,37.004503,98730,two-sided,1.077885e-297,"[28.79, 32.02]",0.117768,7.082e+292,1.0

30.405339196018684

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,36.5538,98781,two-sided,1.375893e-290,"[28.75, 32.01]",0.116304,5.617e+285,1.0

30.381372676962055
--VI ROW--

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-24.187845,72051,two-sided,9.771842e-129,"[-20.01, -17.01]",0.09011,1.405e+124,1.0

-18.507466942732258

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-30.167563,97008,two-sided,5.289562e-199,"[-20.82, -18.28]",0.096858,1.793e+194,1.0

-19.550587718601346

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-26.721489,97022,two-sided,9.827749e-157,"[-18.87, -16.29]",0.085787,1.091e+152,1.0

-17.580290142312148
--TF ROW--

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-19.277236,72195,two-sided,1.346900e-82,"[-18.33, -14.95]",0.071744,1.281e+78,1.0

-16.641556918021504

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-18.455429,97175,two-sided,6.362886e-76,"[-15.33, -12.39]",0.059203,2.444e+71,1.0

-13.85971144604438

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-18.182981,97110,two-sided,9.337902e-74,"[-15.25, -12.28]",0.058349,1.691e+69,1.0

-13.766734250670762

In [143]:
np.set_printoptions(suppress=True)
GainMatrix = np.zeros((3,3))
h = 2/256

''' It is mutliplied by 1/h by finite difference, and by 100 to obtain percentages '''

GainMatrix[0,0] = round(100/h * (NT_bump_NT_Return - standard_coord_NT_Return),3)
GainMatrix[0,1] = round(100/h * (VI_bump_NT_Return - standard_coord_NT_Return),3)
GainMatrix[0,2] = round(100/h * (TF_bump_NT_Return - standard_coord_NT_Return),3)

GainMatrix[1,0] = round(100/h * (NT_bump_VI_Return - standard_coord_VI_Return),3)
GainMatrix[1,1] = round(100/h * (VI_bump_VI_Return - standard_coord_VI_Return),3)
GainMatrix[1,2] = round(100/h * (TF_bump_VI_Return - standard_coord_VI_Return),3)

GainMatrix[2,0] = round(100/h * (NT_bump_TF_Return - standard_coord_TF_Return),3)
GainMatrix[2,1] = round(100/h * (VI_bump_TF_Return - standard_coord_TF_Return),3)
GainMatrix[2,2] = round(100/h * (TF_bump_TF_Return - standard_coord_TF_Return),3)

# print(GainMatrix)

In [144]:
from tabulate import tabulate
from texttable import Texttable
import latextable

rows = [['', 'NT', 'VI', 'TF'],
        ['NT', str(GainMatrix[0,0]) + str(signif00), str(GainMatrix[0,1]) + str(signif01), str(GainMatrix[0,2]) + str(signif02)],
        ['VI', str(GainMatrix[1,0]) + str(signif10), str(GainMatrix[1,1]) + str(signif11), str(GainMatrix[1,2]) + str(signif12)],
        ['TF', str(GainMatrix[2,0]) + str(signif20), str(GainMatrix[2,1]) + str(signif21), str(GainMatrix[2,2]) + str(signif22)]]

table = Texttable()
table.set_cols_align(["C"] * 4)
table.set_deco(Texttable.HEADER | Texttable.VLINES | Texttable.BORDER)
table.add_rows(rows)


print('\nTexttable Table:')
print(table.draw())
print(latextable.draw_latex(table, 
        caption="Gain matrix at the equal wealth coordinates. Significance is showed for p-value inferior to 0.01 (***), 0.05 (**) and 0.1 (*)."))

Texttable Table:
+----+---------------+---------------+---------------+
|    |      NT       |      VI       |      TF       |
+====+===============+===============+===============+
| NT | 28.555^{***}  | 30.431^{***}  | 30.502^{***}  |
| VI | -19.541^{***} | -19.254^{***} | -16.963^{***} |
| TF | -15.582^{***} | -13.532^{***} | -13.339^{***} |
+----+---------------+---------------+---------------+
\begin{table}
	\begin{center}
		\begin{tabular}{|C|C|C|C|}
			\hline
			 & NT & VI & TF \\
			\hline
			NT & 28.555^{***} & 30.431^{***} & 30.502^{***} \\
			VI & -19.541^{***} & -19.254^{***} & -16.963^{***} \\
			TF & -15.582^{***} & -13.532^{***} & -13.339^{***} \\
			\hline
		\end{tabular}
	\end{center}
	\caption{Gain matrix at the equal wealth coordinates. Significance is showed for p-value inferior to 0.01 (***), 0.05 (**) and 0.1 (*).}
\end{table}

In [145]:
from tabulate import tabulate
from texttable import Texttable
import latextable

rows = [['', 'NT', 'VI', 'TF'],
        ['NT', str(ci00), str(ci01), str(ci02)],
        ['VI', str(ci10), str(ci11), str(ci12)],
        ['TF', str(ci20), str(ci21), str(ci22)]]

table = Texttable()
table.set_cols_align(["C"] * 4)
table.set_deco(Texttable.HEADER | Texttable.VLINES | Texttable.BORDER)
table.add_rows(rows)


print('\nTexttable Table:')
print(table.draw())
print(latextable.draw_latex(table, caption="95\% Confidence intervals of the gain matrix entries at the equal wealth coordinates"))

Texttable Table:
+----+-----------------+-----------------+-----------------+
|    |       NT        |       VI        |       TF        |
+====+=================+=================+=================+
| NT | [26.33 30.1 ]   | [28.79 32.02]   | [28.75 32.01]   |
| VI | [-20.01 -17.01] | [-20.82 -18.28] | [-18.87 -16.29] |
| TF | [-18.33 -14.95] | [-15.33 -12.39] | [-15.25 -12.28] |
+----+-----------------+-----------------+-----------------+
\begin{table}
	\begin{center}
		\begin{tabular}{|C|C|C|C|}
			\hline
			 & NT & VI & TF \\
			\hline
			NT & [26.33 30.1 ] & [28.79 32.02] & [28.75 32.01] \\
			VI & [-20.01 -17.01] & [-20.82 -18.28] & [-18.87 -16.29] \\
			TF & [-18.33 -14.95] & [-15.33 -12.39] & [-15.25 -12.28] \\
			\hline
		\end{tabular}
	\end{center}
	\caption{95\% Confidence intervals of the gain matrix entries at the equal wealth coordinates}
\end{table}